rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // 인증된 사용자가 자신의 데이터에 대한 읽기 및 쓰기 권한을 가짐
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
    // 예: 기타 문서에 대한 규칙이 필요하다면 여기에 추가 가능
  }
}